@use "../../globalStyles/variables.scss" as varr;

.header {
  height: 7rem;
  width: 100%;
  background-color: varr.$header__backg;
  display: flex;
  align-items: center;
  padding-left: varr.$main__padding;

  @media screen and (max-width: 500px) {
    padding-left: 4rem;
  }

  @media screen and (max-width: 360px) {
    padding-left: 1rem;
  }

  h1 {
    font-size: 2.4rem;
    color: varr.$white__backg;
    font-weight: varr.$font__wight;
    letter-spacing: 2px;
  }
}
